header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #fafa8b;
  background-color: #004e66;
  padding: 1rem;
}
h1 {
  font-size: 36px;
}

@media (max-width: 768px) {
  h1 {
    font-size: 20px;
  }
}
